.table-avatar {
    min-width: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-avatar img {
    width: 40px;
    border-radius: 50%;
}

.table-select select {
    width: 100%;
}

.table-actions {
    text-align: center;
}