.table-select select {
    width: 100%;
}

.table-actions {
    text-align: center;
}

.table-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
}